.child{
    width:100%;
    height: 100%;
    position: absolute ;
    top: 0;
    bottom: 0;
    background-color: lightgrey;
  
  }

  textarea{
    text-align:center;
    vertical-align: middle;
  }