<div class="container">

  <div clas=divList> 
    <mat-grid-list cols="3" rows=3 rowHeight="2:1">
      <mat-grid-tile [rowspan]=2 [colspan]=2  md-colspan="2">   
     
        <div class="child">
          <app-code></app-code>
        </div>
      </mat-grid-tile>
      <mat-grid-tile  >
        <div class="prueba">
      </div>
      </mat-grid-tile>
      <mat-grid-tile [rowspan]=2>3</mat-grid-tile>
      <mat-grid-tile  [colspan]=2>
        <app-terminal></app-terminal>
      </mat-grid-tile>
  </mat-grid-list>
  </div>

</div>

